<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tutor Search App</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>

    <!-- Navigation -->
    <nav>
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Tutor Search App</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="C:\TPU\Диплом\Сайт\MAIN.html">Home</a></li>
                <li><a href="C:\TPU\Диплом\Сайт\FIND.html">Find Tutors</a></li>
                <li><a href="C:\TPU\Диплом\Сайт\BECOME.html">Become a Tutor</a></li>
                <li><li><a href="C:\TPU\Диплом\Сайт\SIGN.html">Sign In</a></li></li>
            </ul>
        </div>
    </nav>

    <!-- Mobile Navigation -->
    <ul class="sidenav" id="mobile-nav">
        <li><a href="C:\TPU\Диплом\Сайт\MAIN.html">Home</a></li>
        <li><a href="C:\TPU\Диплом\Сайт\FIND.html">Find Tutors</a></li>
        <li><a href="C:\TPU\Диплом\Сайт\BECOME.html">Become a Tutor</a></li>
        <li><li><a href="C:\TPU\Диплом\Сайт\SIGN.html">Sign In</a></li></li>
    </ul>

    <!-- Hero Section -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h1>Find the Perfect Tutor for You</h1>
                    <p class="flow-text">Get one-on-one help from our expert tutors to improve your skills and knowledge.</p>
                    <a class="waves-effect waves-light btn" href="#">Get Started</a>
                </div>
                <div class="col s12 m6">
                    <img src="C:\Users\79138\Pictures\Saved Pictures\buster.jpg" alt="Tutor Search App" class="responsive-img">
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons">search</i></h2>
                        <h5 class="center"><a href="C:\TPU\Диплом\Сайт\FIND.html">Find Tutors</a></h5>
                        <p class="light">Easily search for tutors by subject, location, availability, and rating.</p>
                    </div>
                </div>

                            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">person_add</i></h2>
                    <h5 class="center"><a href="BECOME.html">Become a Tutor</a></h5>
                    <p class="light">Join our platform as a tutor and start sharing your knowledge with students.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h5>About Tutor Search App</h5>
                <p class="light">Tutor Search App is a platform that connects students with expert tutors for personalized learning experiences.</p>
            </div>
            <div class="col s12 m4 offset-m2">
                <h5>Links</h5>
                <ul>
                    <li><a href="C:\TPU\Диплом\Сайт\MAIN.html">Home</a></li>
                    <li><a href="C:\TPU\Диплом\Сайт\FIND.html">Find Tutors</a></li>
                    <li><a href="C:\TPU\Диплом\Сайт\BECOME.html">Become a Tutor</a></li>
                    <li><a href="C:\TPU\Диплом\Сайт\SIGN.html">Sign In</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

                        

