<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tutoralls - Поиск репетиторов</title>
<!-- Стили -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">

<!-- Скрипты -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/main.js"></script>
</head>
<body>
<!-- Навигация -->
{% include "includes/header.html" %}

<!-- Мобильная навигация -->
<ul class="sidenav" id="mobile-nav">
    <li><a href="/">Главная</a></li>
    <li><a href="find">Найти репетитора</a></li>
    <li><a href="become">Стать репетитором</a></li>
    <li><li><a href="sign">Войти</a></li></li>
</ul>

<!-- Секция с заголовком -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h1>Найдите идеального репетитора для себя</h1>
                <p class="flow-text">Получите индивидуальную помощь от наших опытных репетиторов для повышения ваших навыков и знаний.</p>
</div>
<div class="col s12 m6"> <p></p>
<img src="/media/tutoralls_icon.jpg" alt="tutoralls" class="responsive-img">
</div>
</div>
</div>
</section>
<!-- Секция с особенностями -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">search</i></h2>
                    <h5 class="center"><a href="find">Найти репетитора</a></h5>
                    <p class="light">Легко ищите репетиторов по предметам, местоположению, доступности и рейтингу.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons">person_add</i></h2>
                    <h5 class="center"><a href="{{ href }}">{{ main_text }}</a></h5>
                    <p class="light">{{ additional_text }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Секция с подвалом -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h5>О tutoralls</h5>
                <p class="light">tutoralls - это платформа, которая связывает учеников с опытными репетиторами для персонализированных учебных занятий.</p>
            </div>
            <div class="col s12 m4 offset-m2">
                <p></p>
                <li><a href="faq" class="waves-effect waves-light btn">Часто задаваемые вопросы</a></li>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
                        


                        

