<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация - Tutoralls</title>
    <!-- Стили -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- Скрипты -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        // Обработчик отправки формы
        $(document).ready(function () {
            $('#registration-form').submit(function (e) {
                e.preventDefault();
                // Получение значений полей формы
                var name = $('#name').val();
                var email = $('#email').val();
                var password = $('#password').val();
                var userType = $('input[name="user-type"]:checked').val(); // Получение выбранного типа пользователя

                // Проверка введенных данных
                if (name === '' || email === '' || password === '' || !userType) {
                    // Если поля не заполнены, выводим сообщение об ошибке
                    M.toast({ html: 'Пожалуйста, заполните все поля и выберите тип пользователя' });
                } else {
                    // Отправка данных на сервер для регистрации
                    $.ajax({
                        url: '/register',
                        type: 'POST',
                        data: {
                            name: name,
                            email: email,
                            password: password,
                            userType: userType, // Добавляем выбранный тип пользователя в данные для отправки
                            csrfmiddlewaretoken: "{{ csrf_token }}"
                        },
                        success: function (response) {
                            // Обработка успешного ответа от сервера
                            if (response === 'success') {
                                // Если регистрация прошла успешно, перенаправляем на страницу входа
                                window.location.href = '/sign';
                            } else {
                                // Если регистрация не удалась, выводим сообщение об ошибке
                                M.toast({ html: 'Регистрация не удалась. Пожалуйста, попробуйте еще раз' });
                            }
                        },
                        error: function () {
                            // Обработка ошибки запроса
                            M.toast({ html: 'Произошла ошибка' });
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
    <!-- Навигация -->
    {% include "includes/header.html" %}
<!-- Мобильная навигация -->
<ul class="sidenav" id="mobile-nav">
    <li><a href="/">Главная</a></li>
    <li><a href="find">Найти репетитора</a></li>
    <li><a href="become">Стать репетитором</a></li>
    <li><a href="sign">Вход</a></li>
</ul>

<!-- Форма регистрации -->
<div class="container">
    <h3>Регистрация</h3>
    <form id="registration-form">
        <div class="input-field">
            <input type="text" id="name" required>
            <label for="name">Имя</label>
        </div>
        <div class="input-field">
            <input type="email" id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input type="password" id="password" required>
            <label for="password">Пароль</label>
        </div>
        <p>
            <label>
                <input name="user-type" type="radio" value="преподаватель" required/>
                <span>Преподаватель</span>
            </label>
        </p>
        <p>
            <label>
                <input name="user-type" type="radio" value="ученик" required/>
                <span>Ученик</span>
            </label>
        </p>
        <button class="btn waves-effect waves-light" type="submit">Зарегистрироваться</button>
        <p></p>
    </form>
</div>

<!-- Секция с подвалом -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h5>О tutoralls</h5>
                <p class="light">tutoralls - это платформа, которая связывает учеников с опытными репетиторами для персонализированных учебных занятий.</p>
            </div>
            <div class="col s12 m4 offset-m2">
                <p></p>
                <li><a href="faq" class="waves-effect waves-light btn">Часто задаваемые вопросы</a></li>
            </div>
        </div>
    </div>

<!-- Инициализация скриптов -->
<script>
    M.AutoInit();
</script>
</body>
</html>

